.note-editor {
  width: 100%;
}
.note-editor__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin: 1rem;
}

.ql-editor {
  min-height: 400px;
}

.note-editor__button-group {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}
.note-editor__button-group button:last-child {
  margin-left: 0.5rem;
}
