:root {
  --primary: #2196f3;
  --primary-light: #bbdefb;
  --primary-light-1: #e3f2fd;
  --grey: #fafafa;
  --blue-grey: #eceff1;
  --blue-grey-1: #cfd8dc;
  --white: #ffffff;

  --item-height: 50px;
}
