.noteapp {
  background-color: #cfd8dc;
  height: 100vh;
  &-container {
    background-color: #eee;
    min-width: 375px;
    width: 80%;
    min-height: 600px;

    display: grid;
    gap: 0;
    grid-template-columns: 150px 1fr;
    grid-template-rows: var(--item-height) 1fr var(--item-height);
    grid-template-areas:
      'aside header'
      'aside main'
      'aside footer';
    aside {
      grid-area: aside;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .add-note__container {
        & > .item__header {
          background-color: var(--white);
          cursor: auto;
        }
      }
      .add-note__button-container {
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        & > input {
          max-width: 80px;
          background: none;
          color: #000;
          border: none;
          outline: none;
        }
        & > button {
          background: none;
          border: none;
          cursor: pointer;
        }

        &:hover {
          background-color: var(--primary-light-1);
        }
      }
    }
    header {
      grid-area: header;
      background-color: var(--primary);
      color: var(--white);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      padding: 0px 1rem;
    }
    main {
      grid-area: main;
      background-color: var(--white);
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
    }
    footer {
      grid-area: footer;
      background-color: #eeeeee;
      & > .action-buttons {
        display: flex;
        justify-content: flex-end;
        & > button {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
.edit-container {
  position: relative;
  height: calc(100% - 50px);
}
.note-editor {
  height: 100%;

  & > .ql-toolbar.ql-snow {
    height: 50px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .noteapp {
    background-color: #cfd8dc;
    height: 100vh;
    &-container {
      background-color: #eee;
      min-width: 350px;
      width: 80%;
      min-height: 600px;

      display: grid;
      gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 100px var(--item-height) 1fr var(--item-height);
      grid-template-areas:
        'aside'
        'header'
        'main'
        'footer';

        aside {
          display: flex;
          width: 100%;
          flex-flow: row wrap; 
          overflow-x: scroll;

          .add-note__container {
            display: flex;
          }
          .add-note__button-container {
            width: 150px;
          }
        }
      }
  }
}
