.item {
  &__button {
    height: var(--item-height);
    width: 150px;
    padding: 0 0.5rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    background-color: #eeeeee;

    &--selected {
      background-color: var(--primary-light);
    }

    &:hover {
      background-color: var(--primary-light-1);
    }
  }

  &__label {
  }

  &__icon {
    & > svg {
      max-width: 24px;
      max-height: 24px;
    }
  }
}
